#
# sunxi system information driver.
#

config SUNXI_SYS_INFO
	tristate "sunxi system info driver"
	depends on ARCH_SUNXI
	depends on NVMEM_SUNXI_SID
	help
	  This driver is used for query system information.
	  If you don't know whether need it, please select y.
